html, body, figure, figcaption, ul, li, h1 {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  text-align: inherit;
}

ul {
  list-style: none;
}

.group:after {
  content: "";
  clear: both;
  display: block;
}

body {
  font-family: sans-serif;
  text-align: center;
  font-weight: bold;
}

h1 {
  font-size: 60px;
  margin: 30px;
}

ul {
  margin: 15px auto;
  width: 336px;
  border: 2px solid grey;
	border-radius: 7px;
}

li {
  float: left;
  width: 40px;
  height: 40px;
  border-radius: 7px;
  background-color: #ccc;
  cursor: pointer;
	margin: 1px;
}

.shrink:hover {
	-webkit-transform: scale(.85);
  -ms-transform: scale(.85);
  transform: scale(.85);
}

.controls-list {
	border: none;
	margin: 15px auto;
}

.controls-list > li {
	float: left;
	width: 30px;
	height: 30px;
	line-height: 30px;
	cursor: pointer;
}

li > i {
	vertical-align: middle;
}

.restart {
	/*background: #C70039;*/
	background: #fff;
}

.start {
	/*background: #D2CFED;*/
	background: #fff;
}

.pause {
	/*background: #581845;*/
	background: #fff;
}

.time {
	font-size: 16px;
	margin: 5px;
}
.scoreboard {
	font-size: 16px;
	margin: 5px;
}
.paused {
	font-size: 16px;
	margin: 5px;
}
.game-over {
	font-size: 24px;
	margin: 5px;
}
