html, body, figure, figcaption, ul, li, h1 {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  text-align: inherit;
}

ul {
  list-style: none;
}

.group:after {
  content: "";
  clear: both;
  display: block;
}

body {
  font-family: 'Handlee', sans-serif;
  text-align: center;
  font-weight: bold;
}

h1 {
  font-size: 60px;
  margin: 30px;
}

ul {
  margin: 15px auto;
  width: 336px;
  border: 2px solid grey;
	border-radius: 7px;
}

li {
  float: left;
  width: 40px;
  height: 40px;
  border-radius: 7px;
  background-color: #ccc;
  cursor: pointer;
	margin: 1px;
}

.shrink:hover {
	-webkit-transform: scale(.85);
  -ms-transform: scale(.85);
  transform: scale(.85);
}

.main {
  width: 340px;
  margin: 0 auto;
}

.controls-list {
	border: none;
	margin: 15px auto;

}

.controls-list > li {
	float: left;
	width: 30px;
	height: 30px;
	line-height: 30px;
	cursor: pointer;
}


li > i {
	vertical-align: middle;
}

.toggle-howto {
  background: #fff;
}

.toggle-howto > i {
  font-size: 20px;
  background: #fff;
}

.restart {
	background: #fff;
}

.start {
	background: #fff;
}

.pause {
	background: #fff;
}

.display-list {
  border: none;
  margin-bottom: 5px;
}

.time, .scoreboard, .paused, .game-over, .display-list > li {
  float: left;
  width: auto;
  height: auto;
  border: none;
  background-color: #fff;
  cursor: default;
	margin: 5px;
  font-size: 20px;
}

.logo {
  height: 100px;
  width: 300px;
}

.how-to-play-div {
  display: none;
}

.shown {
  display: block;
}

.how-to-play {
  height: 100%;
  width: 100%;
}
