html, body, figure, figcaption, ul, li, h1 {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  text-align: inherit;
}

ul {
  list-style: none;
}

.group:after {
  content: "";
  clear: both;
  display: block;
}

body {
  font-family: 'Handlee', sans-serif;
  text-align: center;
  font-weight: bold;
}

h1 {
  font-size: 60px;
  margin: 30px;
}

ul {
  margin: 15px auto;
  width: 336px;
  border: 2px solid grey;
	border-radius: 7px;
}

li {
  float: left;
  width: 40px;
  height: 40px;
  border-radius: 7px;
  background-color: #ccc;
  cursor: pointer;
	margin: 1px;
}

.shrink:hover {
	-webkit-transform: scale(.85);
  -ms-transform: scale(.85);
  transform: scale(.85);
}

.main {
  width: 340px;
  margin: 0 auto;
}

.controls-list {
	border: none;
	margin: 15px auto;

}

.controls-list > li {
	float: left;
	width: 30px;
	height: 30px;
	line-height: 30px;
	cursor: pointer;
}


li > i {
	vertical-align: middle;
}

.toggle-howto {
  background: #fff;
}

.toggle-howto > i {
  font-size: 20px;
  background: #fff;
}

.restart {
	background: #fff;
}

.start {
	background: #fff;
}

.pause {
	background: #fff;
}

.links, .display-list {
  border: none;
  margin-bottom: 5px;
}

.time, .scoreboard, .paused, .game-over, .display-list > li, .links > li {
  float: left;
  width: auto;
  height: auto;
  border: none;
  background-color: #fff;
  cursor: default;
	margin: 5px;
  font-size: 20px;
}

.logo {
  height: 100px;
  width: 300px;
}

.how-to-play-div {
  display: none;
}

.shown {
  display: block;
}

.how-to-play {
  height: 100%;
  width: 100%;
}

.game-over-div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75px;
  width: 200px;
  border-radius: 12px;
  background-color: #fff;
  position: absolute;
  top: 25%;
  right: 70px;
  box-shadow: 0 0 10px black;
  white-space: pre-wrap;
}


.game-board {
  position: relative;
}

.slideDown{
	animation-name: slideDown;
	-webkit-animation-name: slideDown;

	animation-duration: 1s;
	-webkit-animation-duration: 1s;

	animation-timing-function: ease;
	-webkit-animation-timing-function: ease;

	visibility: visible !important;
}

@keyframes slideDown {
	0% {
		transform: translateY(-100%);
	}
	50%{
		transform: translateY(8%);
	}
	65%{
		transform: translateY(-4%);
	}
	80%{
		transform: translateY(4%);
	}
	95%{
		transform: translateY(-2%);
	}
	100% {
		transform: translateY(0%);
	}
}

@-webkit-keyframes slideDown {
	0% {
		-webkit-transform: translateY(-100%);
	}
	50%{
		-webkit-transform: translateY(8%);
	}
	65%{
		-webkit-transform: translateY(-4%);
	}
	80%{
		-webkit-transform: translateY(4%);
	}
	95%{
		-webkit-transform: translateY(-2%);
	}
	100% {
		-webkit-transform: translateY(0%);
	}
}
